[submodule "themes/minos"]
	path = themes/minos
	url = https://github.com/ppoffice/hexo-theme-minos.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/skyend/hexo-theme-icarus.git
