div.st-ui-container
  .st-ui-content
    a.st-ui-result
      *
        font-family: font-default !important
      em
        background-color: #f2f2f2 !important
      .st-ui-type-heading
        @extends $link
        color: color-default !important